.board_wrap {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  }
  .board {
    background-color: #0a0a0a;
    td {
      background-color: #181818;
      width: 24px;
      height: 24px;
      transition: background-color 0.5s ease, transform 0.1s ease;
      transform: scale(0.95);
      border-radius: 1px;
    }
  }
  .visualize {
    position: absolute !important;
    border: 0 !important;
    bottom: 1rem !important;
    width: 200px !important;
    height: 50px !important;
    border-radius: 3px !important;
    font-weight: 600 !important;
    cursor: pointer !important;
    transition: transform 0.35s ease, background-color 0.5s ease !important;
    text-transform: inherit !important;
    font-family: "Inter" !important;
    padding: 1em !important;
    outline: none !important;
    color: #e1cef1 !important;
    font-weight: 900 !important;
    font-style: 1.2em !important;
    z-index: 1 !important;
    cursor: pointer !important;
    background: none !important;
    text-shadow: 3px 3px 10px rgba(0,0,0,.45) !important;
    &:before, &:after {
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      border-radius: 10em !important;
      transform: translateX(-50%) translateY(-50%) !important;
      width: 105% !important;
      height: 105% !important;
      content: '' !important;
      z-index: -2 !important;
      background-size: 400% 400% !important;
      background: linear-gradient(60deg, #8c4eef, #382bf3) !important; 
    }
    &:before {
      border-radius: 10em !important;

      filter: blur(7px) !important;
      transition: all .25s ease !important;
      animation: pulse 10s infinite ease !important;
    }
    &:after {
      filter: blur(0.3px) !important;
    }
    &:hover {
      &:before {
        width: 115% !important;
        height: 115% !important;
      }
    }
    svg {
      color: #e1cef1 !important;
    }
  }
  
  .node-start {
    background-color: rgb(85, 206, 150) !important;
  }
  .node-finish {
    background-color: rgb(241, 91, 71) !important;
  }
  
  .node-visited {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  .node-path {
    animation-name: fadePath;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  .node-wall {
    background-color: #003549 !important;
  }
  
  @keyframes fadeIn {
    from {
      border-radius: 50px;
      transform: scale(0.1);
      background-color: purple;
    }
  
    to {
      border-radius: 2px;
      transform: scale(1);
      background-color: #246cca;
    }
  }
  
  @keyframes fadePath {
    from {
      background-color: orange;
      transform: scale(0.95);
    }
  
    to {
      background-color: #fcff48;
      transform: scale(1.15);
    }
  }