.wrap {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.board {
  background-color: #b4dcfc;
  td {
    background-color: #fff;
    width: 24px;
    height: 24px;
    transition: background-color 0.5s ease, transform 0.1s ease;
    transform: scale(0.95);
    border-radius: 1px;
  }
}

.visualize {
  background-color: #3f22c0;
  position: absolute;
  border: 0;
  bottom: 1rem;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: transform 0.35s ease;
  transform: scale(1);
  &:hover {
    transform: scale(1.015) translateY(-0.1rem);
  }
}
