.board {
  background-color: orange;
  td {
    background-color: #fff;
    width: 24px;
    height: 24px;
  }
  .isStart {
    background-color: green;
  }
  .isFinish {
    background-color: red;
  }
}
