$navBackground: #1d1d1d;

.nav {
  background-color: $navBackground;
  height: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  h3 {
    font-weight: 600;
    letter-spacing: 0.025rem;
  }
}

.sidenav {
  margin-top: 4px;
  background-color: $navBackground;
  width: 250px;
  height: calc(100vh - 54px);
  box-sizing: border-box;
  padding: 1rem;
  h5 {
    font-size: 14px;
    font-weight: 600;
  }
  h6 {
    font-size: 12px;
    font-weight: 500;
    color: #696969;
    margin-top: 0.5rem;
  }
  span {
    font-size: 14px;
  }
}

.algorithm {
  margin-bottom: 1.5rem;
  span {
    display: flex;
    background-color: #2e2e2e;
    box-sizing: border-box;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    align-items: center;
    margin-top: 0.75rem;
    justify-content: space-between;
    cursor: pointer;
  }
}

.nodes {
  margin-bottom: 1.5rem;
  .container {
    margin-top: 0.5rem;
    background-color: #2e2e2e;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    width: 100%;
    display: flex;
    padding: 0.25rem;
    height: 50px;
    justify-content: space-between;
    span {
      cursor: pointer;
      width: 49%;
      background-color: #4e4e4e;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.horizontalSlider {
  height: 8px;
  width: 140px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #4e4e4e;
  width: 66%;
}
.sliderThumb {
  background-color: #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  outline: none;
  cursor: pointer;
}

.sliderIcon {
  background-color: #2e2e2e;
  width: 16px;
  height: 16px;
  border-radius: 50px;
}

.colors {
  h6 {
    margin-bottom: 0.4rem;
  }
  input {
    margin-bottom: 0.25rem;
    width: 80%;
    box-sizing: border-box;
    border: 0;
    outline: none;
    padding: 0.25rem;
    height: 24px;
    border-radius: 5px;
    background-color: #2e2e2e;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .colorPicker {
    width: 24px;
    height: 24px;
    background-color: #2e2e2e;
    border-radius: 5px;
  }
}
