.nav {
  background-color: #1d1d1d;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
}

.nav h3 {
  font-weight: 600;
  letter-spacing: .025rem;
}

.sidenav {
  margin-top: 4px;
  background-color: #1d1d1d;
  width: 200px;
  height: calc(100vh - 54px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
}

.sidenav h5 {
  font-size: 14px;
  font-weight: 600;
}

.sidenav h6 {
  font-size: 12px;
  font-weight: 500;
  color: #696969;
  margin-top: .5rem;
}

.sidenav span {
  font-size: 14px;
}

.algorithm {
  margin-bottom: 1.5rem;
}

.algorithm span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2e2e2e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5rem .75rem;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.nodes {
  margin-bottom: 1.5rem;
}

.nodes .container {
  margin-top: .5rem;
  background-color: #2e2e2e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .25rem;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nodes .container span {
  cursor: pointer;
  width: 49%;
  background-color: #4e4e4e;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.horizontalSlider {
  height: 8px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #4e4e4e;
  width: 66%;
}

.sliderThumb {
  background-color: #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  outline: none;
  cursor: pointer;
}

.sliderIcon {
  background-color: #2e2e2e;
  width: 16px;
  height: 16px;
  border-radius: 50px;
}

.colors h6 {
  margin-bottom: .4rem;
}

.colors input {
  margin-bottom: .25rem;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: none;
  padding: .25rem;
  height: 24px;
  border-radius: 5px;
  background-color: #2e2e2e;
}

.colors .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.colors .colorPicker {
  width: 24px;
  height: 24px;
  background-color: #2e2e2e;
  border-radius: 5px;
}
/*# sourceMappingURL=nav.module.css.map */