@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
@import "./app";

body {
  font-family: "Inter", sans-serif;
  background-color: #070809;
  font-size: 16px;
  color: #fff;
  margin: 0;
}

table {
  border-spacing: 1px;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.node-start {
  background-color: rgb(85, 206, 150) !important;
}
.node-finish {
  background-color: rgb(241, 91, 71) !important;
}

.node-visited {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.node-path {
  animation-name: fadePath;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.node-wall {
  background-color: #003549 !important;
}

@keyframes fadeIn {
  from {
    border-radius: 50px;
    transform: scale(0.1);
    background-color: purple;
  }

  to {
    border-radius: 1px;
    transform: scale(1);
    background-color: #246cca;
  }
}

@keyframes fadePath {
  from {
    background-color: orange;
    transform: scale(0.95);
  }

  to {
    background-color: #fcff48;
    transform: scale(1.15);
  }
}
